.container-emi {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    height: 70vh;
  }
  .loan-emi{
    background-color: #f9f9f9;
    width: 160vh;
    
  }
  .loan-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
  }
  
  .loan-summary {
    margin-bottom: 20px;
  }
  
  .loan-info p {
    margin-bottom: 10px;
  }
  
  .loan-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 70vh;
    justify-content: center !important;
    align-items: center;
  }
  
  .loan-table th, .loan-table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .loan-table th {
    background-color: #007bff;
    color: #fff;
  }
  
  .loan-table tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  .loan-table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .text-danger {
    font-weight: bold;
  }
  
  .text-success {
    font-weight: bold;
  }
  


  /* ********************css for payemi *********************************** */
  .pay-emi-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    height: 80vh;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .emi-details {
    margin-bottom: 20px;
  }
  
  .emi-details p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .emi-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }
  
  .confirmation {
    text-align: center;
    margin-top: 20px;
    color: green;
  }
  