/* for profile page */
.profile-card{
  width: 150vh;
margin-left: 100px;
margin-top: 40px;
justify-content: center;
align-items: center;
padding-left: 100px;
}

.edit-profile-card{
width: 150vh;
margin-left: 100px;
/* background-color: #f7f7f7; */

}


/* Profile Information Styling */
.profile-info {
  margin-bottom: 15px;
}

.profile-info label {
  font-weight: bold;
  color: #555;
}

.profile-info p {
  margin-top: 5px;
  color: #333;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

/* Button Styling */
.button-container {
  text-align: center;
  margin-top: 20px;
}

.edit-button {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Text Center and Loading/Error Styling */
.text-center {
  text-align: center;
}

.text-danger {
  color: red;
}
